@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    background: #e04700;
    
    
    width: 100%;
    padding: 1.5em 0;
    display: flex;
}

nav * {
    color: white;
}

nav .logo {
    width: 40%;
}

nav .nav-items {
    width: 40%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.a-btn {
    text-decoration: none;
    padding: .5em 1em;
    background: white;
    color: #e04700;
    border: 2px solid transparent;
    border-radius: 0.5em;
    transition: 1s;
}

.a-btn {
    border: 2px solid #e04700;;
    transition: 1s;
}

nav a {
    text-decoration: none;
    padding: .5em 1em;
    border-bottom: 2px solid transparent;
    transition: 1s;
}

nav a:hover {
    border-bottom: 2px solid white;
    transition: 1s;
}



main {
    height: 80%;
    background: linear-gradient(180deg, #e04700 0%, #f87e37 100%);
}

main * {
    color: white;
}

main .hero {
    width: 75%;
    margin: auto;
}

main .hero h1 {
    font-size: 7em;
}

hr {
    border-top:3px solid #262626; 
    border-bottom:3px solid #262626; 
    height:40px; 
    background:url("./indigenousborderart.jpg") 0 0; 
    background-position: center;
}

#essay {
    color: white;
    background: #20242d;
    padding: 4em 0;
}

#debate {
    background: #f87e37;
    padding: 4em 0;
    color: white;
    display: flex;
    justify-content: end;
    /*text-align: right;*/
}

#podcast {
    color: white;
    background: #20242d;
    padding: 4em 0;
    display: flex;
    justify-content: end;
}

#collage {
    background: #f87e37;
    padding: 4em 0;
    color: white;
    display: flex;
    justify-content: end;
}

#letter {
    background: #20242d;
    padding: 4em 0;
    color: white;
    display: flex;
    justify-content: end;
}


iframe {
    width: 75%;
    background: white;
    border-radius: 1em;
    height: 400px;
    margin-top: 2em;
}