<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">

</head>
    <body>
        <!-- Navbar -->
        <nav>
            <div class="logo">

            </div>
            <div class="nav-items">
                <div class="nav-item"><a href="/#essay">Essay</a></div>
                <div class="nav-item"><a href="/#debate">Debate</a></div>
                <div class="nav-item"><a href="/#podcast">Podcast</a></div>
                <div class="nav-item"><a href="/#collage">Collage</a></div>
                <div class="nav-item"><a href="/#letter">Letter</a></div>
            </div>
        </nav>

        <main>
            <div class="hero" style="display: flex;">
                <div style="width: 50%;">
                    <h1>NBE Reads Portfolio</h1>
                    <h4><i>Ibrahim Faisal</i></h4>
                </div>
                <div style="width: 50%; display: flex; justify-content: right; align-items: center;"> 
                    <img style="width: 80%; height: 80%;" src="./indigenouslogo.png">
                </div>
            </div>
        </main>

        <hr>

        <section id="essay">
            <div style="width: 75%; margin: auto;">
                <h1 style="font-size: 4em;">Short Fiction Essay</h1>
                <h4>An essay analyzing the setting of stories and its effect on the development of characters</h4>
                <div style="width: 100%;">
                    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTqweXcuw_1We4QOXlCBTZ8UcNoUhDM0vkDGbMVoDHwVT2-cOn3CPBzAgUZppOYQx6b4GD3Qm_BPeQ5/pub?embedded=true" frameborder="0"></iframe>
                    <div style="width: 75%; margin-top: 1em;">
                        <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/16XD3Rs-zsJI7OzNUfZRqaTjJBZalUZArHvBncUAau3M/edit?usp=sharing">View full essay</a>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="debate">
            <div style="width: 75%; margin: auto;">
                <h1 style="font-size: 4em;">NBE Reads Debate</h1>
                <h4>Whatever you do, do not teach "A Perfect Likeness" in future NBE courses!</h4>
                <div style="width: 100%; display: flex; justify-content: space-between;">
                    <div style="width: 20%;">
                        <img src="https://m.media-amazon.com/images/I/81WFSIJtqwL._AC_UF1000,1000_QL80_.jpg" style="width: 100%; margin-top: 2em; border-radius: 0.5em;" alt="A Perfect Likeness">
                    </div>
                    <div style="width: 70%;">
                        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRNHF0VqInlNsuz7N3hSr9-bMsQXO-sRTlb9KHmAF3AodScHAjfthr1j2LK_YNwYl-KzjAgCA0ncrgO/pub?embedded=true" style="width: 100%;" frameborder="0"></iframe>
                        <div style="width: 100%; margin-top: 1em;">
                            <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/1AlIzOATFM3BfKPkIwLM42FsfeqlGGOCmFe_okTC_1uo/edit?usp=sharing">View full debate</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="podcast">
            <div style="width: 75%; margin: auto;">
                <h1 style="font-size: 4em;">Indigenous Influencers Podcast</h1>
                <h4>Meet Terry Felix, the first ever Indigenous professional soccer player.</h4>
                <div style="width: 100%; display: flex; justify-content: space-between;">
                    <div style="width: 20%;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA-Ht1IbYQ6Hb5RqTl6jbXslytXsDASKzdCw&s" style="width: 100%; margin-top: 2em; border-radius: 0.5em;" alt="Terry Felix">
                    </div>
                    <div style="width: 70%; padding: 2em;">
                        <audio controls>
                            <source src="IndigenousInfluencers.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <div style="width: 100%; margin-top: 1em;">
                            <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/1bsRe_tGhs3lgCoddmi6A5sQAace-BIRtkZ5X4j-JbBQ/edit?usp=sharing">View script</a>
                            <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/1Tid15uKFY5ACSDOLZch--ELYC0pSyy7F3Fsc8WkO1wA/edit?usp=sharing">View sources</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="collage">
            <div style="width: 75%; margin: auto;">
                <h1 style="font-size: 3em;">Historical Indigenous Arts Collage</h1>
                <h4>A showcase of the beautiful evolution of Indigenous Arts</h4>
                <div style="width: 100%; display: flex; justify-content: space-between;">
                    <div style="width: 40%;">
                        <img src="collage.png" style="width: 100%; margin-top: 2em; border-radius: 0.5em;" alt="Collage">
                    </div>
                    <div style="width: 60%; padding: 0 2em;">
                        <iframe src="https://docs.google.com/document/d/e/2PACX-1vTdDg6wFn8DPFoQGUjk1RttwM7uvHtuGHfHVwSHJ4EOzibBTVNSmaHalMX3epSQQA06zYiTVQBdNOIj/pub?embedded=true" style="width: 100%;" frameborder="0"></iframe>
                        <div style="width: 100%; margin-top: 1em;">
                            <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/1_fOs1BBS1lNPyfxAZ8cr19bzHIhYHl2xkMuKUlJnFLY/edit?usp=sharing">View Collage Document</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="letter">
            <div style="width: 75%; margin: auto;">
                <h1 style="font-size: 3em;">Letter to a survivor</h1>
                <h4>The simple thoughts of anyone when talking to a residential school survivor.</h4>
                <div style="width: 100%; display: flex; justify-content: space-between;">
                    <div style="width: 40%;">
                        <img src="https://www.archgh.org/media/20531/letter-icon.png?width=60&height=63&mode=max" style="width: 100%; margin-top: 2em; border-radius: 0.5em;" alt="Collage">
                    </div>
                    <div style="width: 60%; padding: 0 2em;">
                        <iframe src="https://docs.google.com/document/d/e/2PACX-1vR0TrVZpR-nWSKYOXR_nSdKYQP5N9gwGiKL44oeCHAhzbdMR8skCyzmxE4OZTsTfetO-fppganMf4JW/pub?embedded=true" style="width: 100%;" frameborder="0"></iframe>
                        <div style="width: 100%; margin-top: 1em;">
                            <a class="a-btn" target="_blank" href="https://docs.google.com/document/d/1JyCObwntIJ2Q9P4t_hY2w80cIIaI_Lt5XD6UNygvOSM/edit?usp=sharing">View Letter</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>